.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
@media (max-width: 694px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-height: 286px;
  }
}